<mat-toolbar color="primary">
  <span
    >MeSuk Music <span style="font-size: 16px; opacity: 50%">school</span></span
  >
  <span class="example-spacer"></span>
  <button
    mat-button
    class="btn-nav"
    *ngFor="let item of menu"
    [routerLink]="item.direct"
  >
    {{ item.name }}
  </button>

  <span class="example-spacer">
    <button
      routerLink="/create-student"
      mat-button
      class="btn-nav not-login"
      *ngIf="!this.user"
    >
      <span>สมัครสมาชิก</span>
    </button>
  </span>

  <button
    routerLink="/logout"
    mat-icon-button
    class="example-icon favorite-icon"
    (click)="logout()"
    aria-label="Example icon-button with heart icon"
    *ngIf="this.user"
  >
    <mat-icon>logout</mat-icon>
  </button>

  <button
    routerLink="/login"
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
    *ngIf="!this.user"
  >
    <mat-icon>login</mat-icon>
  </button>
</mat-toolbar>
