USE [projectDB]
GO
/****** Object:  Table [dbo].[tblCourse]    Script Date: 16/2/2567 14:56:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCourse](
	[cou_ID] [int] IDENTITY(660001,1) NOT NULL,
	[sub_ID] [int] NULL,
	[tec_ID] [int] NULL,
	[num_seats] [int] NULL,
	[seat_remaining] [int] NULL,
	[time_open] [date] NULL,
	[time_close] [date] NULL,
	[time_start] [date] NULL,
	[time_end] [date] NULL,
	[status] [nvarchar](50) NULL,
	[total_price] [int] NULL,
 CONSTRAINT [PK_tblCourse] PRIMARY KEY CLUSTERED 
(
	[cou_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblEmployee]    Script Date: 16/2/2567 14:56:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEmployee](
	[emp_ID] [int] NOT NULL,
	[emp_Pass] [nvarchar](30) NULL,
	[emp_Name] [nvarchar](max) NULL,
	[emp_Sex] [nvarchar](20) NULL,
	[emp_Add] [nvarchar](max) NULL,
	[emp_Mail] [nvarchar](max) NULL,
	[emp_Tel] [nvarchar](20) NULL,
	[sta_Num] [int] NULL,
 CONSTRAINT [PK_tblEmployee] PRIMARY KEY CLUSTERED 
(
	[emp_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblEnroll]    Script Date: 16/2/2567 14:56:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEnroll](
	[stu_ID] [int] NULL,
	[cou_ID] [int] NULL,
	[sub_ID] [int] NULL,
	[score_learn] [int] NULL,
	[score_1] [int] NULL,
	[score_2] [int] NULL,
	[score_3] [int] NULL,
	[score_final] [int] NULL,
	[score_total] [int] NULL,
	[result] [nvarchar](max) NULL,
	[pay_date] [datetime] NULL,
	[pay_slip] [nvarchar](max) NULL,
	[pay_time] [time](0) SPARSE  NULL,
	[pay_billpay] [datetime] NULL,
	[pay_billdue] [datetime] NULL,
	[amount_pay] [int] NULL,
	[sta_pay] [nvarchar](max) NULL,
	[receipt_number] [nvarchar](max) NULL,
	[receipt_date] [datetime] NULL,
	[cer_date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblInfo_learn]    Script Date: 16/2/2567 14:56:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblInfo_learn](
	[stu_ID] [int] NULL,
	[cou_ID] [int] NULL,
	[data_class] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblStatus]    Script Date: 16/2/2567 14:56:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblStatus](
	[sta_Num] [int] NOT NULL,
	[sta_Name] [varchar](20) NULL,
 CONSTRAINT [PK_tblStatus_1] PRIMARY KEY CLUSTERED 
(
	[sta_Num] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblStudent]    Script Date: 16/2/2567 14:56:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblStudent](
	[stu_ID] [int] NOT NULL,
	[stu_Pass] [nvarchar](30) NULL,
	[stu_Name] [nvarchar](max) NULL,
	[stu_Sex] [nvarchar](20) NULL,
	[stu_Add] [nvarchar](max) NULL,
	[stu_Mail] [nvarchar](max) NULL,
	[stu_Tel] [nvarchar](20) NULL,
	[sta_Num] [int] NULL,
 CONSTRAINT [PK_tblStudent] PRIMARY KEY CLUSTERED 
(
	[stu_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSubject]    Script Date: 16/2/2567 14:56:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSubject](
	[sub_ID] [int] IDENTITY(1001,1) NOT NULL,
	[sub_Name] [varchar](max) NULL,
	[sub_Price] [int] NULL,
	[sta_Num] [int] NULL,
 CONSTRAINT [PK_tblSubject_1] PRIMARY KEY CLUSTERED 
(
	[sub_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTeacher]    Script Date: 16/2/2567 14:56:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTeacher](
	[tec_ID] [int] NOT NULL,
	[tec_Pass] [nvarchar](30) NULL,
	[tec_Name] [nvarchar](max) NULL,
	[tec_Sex] [nvarchar](20) NULL,
	[tec_Add] [nvarchar](max) NULL,
	[tec_Mail] [nvarchar](max) NULL,
	[tec_Tel] [nvarchar](20) NULL,
	[sta_Num] [int] NULL,
 CONSTRAINT [PK_tblTeacher] PRIMARY KEY CLUSTERED 
(
	[tec_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblCourse] ON 

INSERT [dbo].[tblCourse] ([cou_ID], [sub_ID], [tec_ID], [num_seats], [seat_remaining], [time_open], [time_close], [time_start], [time_end], [status], [total_price]) VALUES (660001, 1001, 2003, 25, 0, CAST(N'2023-02-19' AS Date), CAST(N'2023-02-28' AS Date), CAST(N'2023-03-01' AS Date), CAST(N'2023-03-31' AS Date), N'close', 1800)
INSERT [dbo].[tblCourse] ([cou_ID], [sub_ID], [tec_ID], [num_seats], [seat_remaining], [time_open], [time_close], [time_start], [time_end], [status], [total_price]) VALUES (660002, 1002, 2001, 15, 11, CAST(N'2023-02-19' AS Date), CAST(N'2023-03-12' AS Date), CAST(N'2023-03-18' AS Date), CAST(N'2023-04-15' AS Date), N'close', 1800)
INSERT [dbo].[tblCourse] ([cou_ID], [sub_ID], [tec_ID], [num_seats], [seat_remaining], [time_open], [time_close], [time_start], [time_end], [status], [total_price]) VALUES (660003, 1003, 2005, 30, 30, CAST(N'2023-02-19' AS Date), CAST(N'2023-02-28' AS Date), CAST(N'2023-03-01' AS Date), CAST(N'2023-03-31' AS Date), N'close', 2400)
SET IDENTITY_INSERT [dbo].[tblCourse] OFF
GO
INSERT [dbo].[tblEmployee] ([emp_ID], [emp_Pass], [emp_Name], [emp_Sex], [emp_Add], [emp_Mail], [emp_Tel], [sta_Num]) VALUES (4001, N'YWRtaW4=', N'admin', N'admin', N'admin', N'admin@gmail.com', N'1234', 1)
INSERT [dbo].[tblEmployee] ([emp_ID], [emp_Pass], [emp_Name], [emp_Sex], [emp_Add], [emp_Mail], [emp_Tel], [sta_Num]) VALUES (4002, N'ZW1wbmV3MQ==', N'empnew1', N'male', N'asdasfgsdg', N'empnew1@gmail.com', N'0833333333', 1)
INSERT [dbo].[tblEmployee] ([emp_ID], [emp_Pass], [emp_Name], [emp_Sex], [emp_Add], [emp_Mail], [emp_Tel], [sta_Num]) VALUES (4003, N'ZW1wMQ==', N'emp1', N'male', N'asdasd', N'emp1@gmail.com', N'0811515142', 1)
GO
INSERT [dbo].[tblEnroll] ([stu_ID], [cou_ID], [sub_ID], [score_learn], [score_1], [score_2], [score_3], [score_final], [score_total], [result], [pay_date], [pay_slip], [pay_time], [pay_billpay], [pay_billdue], [amount_pay], [sta_pay], [receipt_number], [receipt_date], [cer_date]) VALUES (3001, 660009, 1001, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2023-08-07T00:00:00.000' AS DateTime), CAST(N'2023-08-17T00:00:00.000' AS DateTime), 1800, N'ชำระเงินล่าช้า', NULL, NULL, NULL)
GO
INSERT [dbo].[tblInfo_learn] ([stu_ID], [cou_ID], [data_class]) VALUES (3003, 660001, CAST(N'2023-05-22T00:00:00.000' AS DateTime))
INSERT [dbo].[tblInfo_learn] ([stu_ID], [cou_ID], [data_class]) VALUES (3003, 660001, CAST(N'2023-05-27T00:00:00.000' AS DateTime))
INSERT [dbo].[tblInfo_learn] ([stu_ID], [cou_ID], [data_class]) VALUES (3003, 660001, CAST(N'2023-05-31T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[tblStatus] ([sta_Num], [sta_Name]) VALUES (0, N'disable')
INSERT [dbo].[tblStatus] ([sta_Num], [sta_Name]) VALUES (1, N'enable')
GO
INSERT [dbo].[tblStudent] ([stu_ID], [stu_Pass], [stu_Name], [stu_Sex], [stu_Add], [stu_Mail], [stu_Tel], [sta_Num]) VALUES (3001, N'c3R1MTIzNDU=', N'stu5', N'female', N'asdasdasd5555555', N'stu12345@gmail.com', N'0855555551', 1)
INSERT [dbo].[tblStudent] ([stu_ID], [stu_Pass], [stu_Name], [stu_Sex], [stu_Add], [stu_Mail], [stu_Tel], [sta_Num]) VALUES (3002, N'c3R1MTIzNDU=', N'stu12345', N'other', N'stu12345', N'stu12345@gmail.com', N'0811111111', 1)
INSERT [dbo].[tblStudent] ([stu_ID], [stu_Pass], [stu_Name], [stu_Sex], [stu_Add], [stu_Mail], [stu_Tel], [sta_Num]) VALUES (3003, N'c3R1bmV3MQ==', N'stunew1', N'male', N'123456asdasdas', N'stunew1@gmail.com', N'0811111111', 1)
GO
SET IDENTITY_INSERT [dbo].[tblSubject] ON 

INSERT [dbo].[tblSubject] ([sub_ID], [sub_Name], [sub_Price], [sta_Num]) VALUES (1001, N'วิชากีต้าร์', 1800, 0)
INSERT [dbo].[tblSubject] ([sub_ID], [sub_Name], [sub_Price], [sta_Num]) VALUES (1002, N'วิชากีต้าร์เบส', 1800, 1)
INSERT [dbo].[tblSubject] ([sub_ID], [sub_Name], [sub_Price], [sta_Num]) VALUES (1003, N'วิชาเปียโน', 2400, 1)
SET IDENTITY_INSERT [dbo].[tblSubject] OFF
GO
INSERT [dbo].[tblTeacher] ([tec_ID], [tec_Pass], [tec_Name], [tec_Sex], [tec_Add], [tec_Mail], [tec_Tel], [sta_Num]) VALUES (2001, N'dGVjMQ==', N'tec1', N'male', N'tec1 asdasdasdasd', N'tec1@gmail.com', N'0856565555', 1)
INSERT [dbo].[tblTeacher] ([tec_ID], [tec_Pass], [tec_Name], [tec_Sex], [tec_Add], [tec_Mail], [tec_Tel], [sta_Num]) VALUES (2002, N'dGVjMg==', N'tec2', N'male', N'asdasdasd', N'tec2@gmail.com', N'0844444444', 0)
INSERT [dbo].[tblTeacher] ([tec_ID], [tec_Pass], [tec_Name], [tec_Sex], [tec_Add], [tec_Mail], [tec_Tel], [sta_Num]) VALUES (2003, N'dGVjMw==', N'tec3', N'female', N'asdasdas', N'tec3@gmail.com', N'0834963555', 1)
GO
ALTER TABLE [dbo].[tblEmployee] ADD  CONSTRAINT [DF_tblEmployee_sta_Num]  DEFAULT ((1)) FOR [sta_Num]
GO
ALTER TABLE [dbo].[tblStudent] ADD  CONSTRAINT [DF_tblStudent_sta_Num]  DEFAULT ((1)) FOR [sta_Num]
GO
ALTER TABLE [dbo].[tblSubject] ADD  CONSTRAINT [DF_tblSubject_sta_Num]  DEFAULT ((1)) FOR [sta_Num]
GO
ALTER TABLE [dbo].[tblTeacher] ADD  CONSTRAINT [DF_tblTeacher_sta_Num]  DEFAULT ((1)) FOR [sta_Num]
GO
