<div class="container">
  <mat-toolbar>
    <span>Create Employee</span>
  </mat-toolbar>
  <mat-card style="margin-top: 10px;">
    <mat-card-content>
      <form [formGroup]="formEmp" (ngSubmit)="dialogCreateEmp()">
        <mat-grid-list cols="4" rowHeight="130px">
          <mat-grid-tile [colspan]="2" [rowspan]="1">
            <mat-form-field class="broad">
              <mat-label>Name</mat-label>
              <input matInput placeholder="enter your name" autocomplete="off"
                formControlName="name">
              <mat-error>
                Name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="2" [rowspan]="7"
            [style.background]="'lightblue'">
            <img src="./assets/img/user.png" width="250" height="250">
          </mat-grid-tile>

          <mat-grid-tile [colspan]="2" [rowspan]="1">
            <mat-form-field class="broad">
              <mat-label>Password</mat-label>
              <input matInput placeholder="enter your password"
                autocomplete="off" formControlName="password"
                [type]="showPassword ? 'text' : 'password'">
              <a mat-icon-button matSuffix (click)="togglePasswordVisibility()">
                <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
              </a>
              <mat-error *ngIf="formEmp.hasError('required', 'password')">
                Password is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="formEmp.hasError('containsSpace', 'password')">Password
                cannot contain spaces</mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="2" [rowspan]="1">
            <mat-form-field class="broad">
              <mat-label>confirm-Password</mat-label>
              <input matInput placeholder="enter your password"
                autocomplete="off" formControlName="confirm_password"
                [type]="showPassword ? 'text' : 'password'">
              <a mat-icon-button matSuffix (click)="togglePasswordVisibility()">
                <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
              </a>
              <mat-error
                *ngIf="formEmp.hasError('passwordsMismatch', 'confirm_password')">
                Passwords do not
                match
              </mat-error>
              <mat-error
                *ngIf="formEmp.hasError('required', 'confirm_password')">
                Password is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-radio-group aria-label="Sex" formControlName="sex">
              <mat-label style="margin-left: 4em;">Sex</mat-label>
              <mat-radio-button value="male">male</mat-radio-button>
              <mat-radio-button value="female">female</mat-radio-button>
              <mat-radio-button value="other">other</mat-radio-button>
            </mat-radio-group>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="2" [rowspan]="1">
            <mat-form-field class="broad">
              <mat-label>Address</mat-label>
              <textarea matInput placeholder="enter your address"
                autocomplete="off" formControlName="address"></textarea>
              <mat-error>
                Address is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="2" [rowspan]="1">
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input type="email" matInput [formControl]="emailFormControl"
                placeholder="enter your e-mail" autocomplete="off">
              <mat-error *ngIf="emailFormControl.hasError('email') &&
                !emailFormControl.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="2" [rowspan]="1">
            <mat-form-field class="broad">
              <mat-label>Tel</mat-label>
              <input matInput placeholder="enter your tel" autocomplete="off"
                formControlName="tel">
              <mat-error *ngIf="formEmp.hasError('required', 'tel')">Tel is
                <strong>required</strong></mat-error>
              <mat-error *ngIf="formEmp.hasError('pattern', 'tel')">Please enter
                a
                valid number.</mat-error>
              <mat-error *ngIf="formEmp.hasError('maxLengthExceeded', 'tel')">Number
                exceeds the maximum length of 10 digits.</mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="2" [rowspan]="1">
            <button mat-raised-button color="primary" type="submit"
              style="margin-right: 20px;"
              [disabled]="formEmp.invalid || emailFormControl.invalid">confirm</button>
            <button mat-raised-button color="warn" type="reset">cancel</button>
          </mat-grid-tile>

        </mat-grid-list>
      </form>
    </mat-card-content>
  </mat-card>
</div>
