<div class="container">
  <mat-toolbar>
    <span>Contact</span>
    <div class="example-spacer"></div>
  </mat-toolbar>
  <div class="main-contact">
    <div class="image"><img src="./assets/img/map.png" alt="" /></div>
    <div class="content">
      <ul>
        <li style="margin-bottom: 36px">
          <h1 style="font-size: 48px">โรงเรียนสอนดนตรีมีสุข</h1>
        </li>
        <li style="margin-bottom: 24px">
          <h3 style="display: flex; align-items: center; font-size: 24px">
            <img
              src="./assets/img/phone_icon.png"
              style="width: 45px; margin-right: 16px"
            />
            โทร : <span> 08111111111 , 021111111 ต่อ 123, 124</span>
          </h3>
        </li>
        <li style="margin-bottom: 24px">
          <h3 style="display: flex; align-items: center; font-size: 24px">
            <img
              src="./assets/img/line_icon.png"
              style="width: 50px; margin-right: 16px"
            />
            Line : <span> @Music_mesuk</span>
          </h3>
        </li>
        <li style="margin-bottom: 24px">
          <h3 style="display: flex; align-items: center; font-size: 24px">
            <img
              src="./assets/img/fb_icon.png"
              style="width: 45px; margin-right: 18px"
            />
            Facebook : <span> Music_mesuk</span>
          </h3>
        </li>
      </ul>
    </div>
  </div>
</div>
