<div class="container">
  <mat-toolbar *ngIf="user">
    <span>Home</span>
    <div class="example-spacer"></div>
  </mat-toolbar>
  <div class="main-pf">
    <div class="card-user" *ngIf="user">
      <div>
        <span>ยินดีต้อนรับ </span
        ><span style="font-weight: bold">{{ user.role }}</span>
      </div>
      <div>
        <div>
          <span style="font-weight: bold; margin-right: 12px">User ID :</span>
          <span>{{ user.id }}</span>
        </div>
      </div>
      <div>
        <div>
          <span style="font-weight: bold; margin-right: 12px">User Name :</span>
          <span>{{ user.FullName }}</span>
        </div>

        <!-- <p style="margin-bottom: 24px">
          <span style="font-weight: bold">User Name</span>
        </p>
        <p>
          <span style="font-size: 28px">{{ user.FullName }}</span>
        </p> -->
      </div>
    </div>

    <div class="card-notUser" *ngIf="!user">
      <div style="margin-left: 24px">
        <span>ยินดีต้อนรับ เข้าสู่เว็บไซต์โรงเรียนสอนดนตรีมีสุข</span>
      </div>

      <div class="card-user-btn">
        <button mat-raised-button color="accent" routerLink="/create-student">
          สมัครสมาชิก
        </button>
        <button mat-raised-button color="primary" routerLink="/login">
          เข้าสู่ระบบ
        </button>
      </div>
    </div>

    <div class="content-info">
      <img src="./assets/img/user.png" alt="" />
    </div>
  </div>
  <div class="course">
    <div class="card">
      <div class="card-img">
        <img src="./assets/img/music01.jpg" alt="" />
      </div>
      <div>
        <p>เปิดสอนดนตรีสากลหลากหลายชนิด อาทิเช่น</p>
        <ul style="display: flex; flex-direction: column; gap: 8px">
          <li>กีต้าร์</li>
          <li>เบส</li>
          <li>กลอง</li>
          <li>เปียโน</li>
          <li>คีย์บอร์ด</li>
          <li>ฯลฯ</li>
        </ul>
      </div>
    </div>

    <div class="card">
      <div class="card-img">
        <img src="./assets/img/music02.jpg" alt="" />
      </div>
      <div>
        <p>เปิดสอนดนตรีไทยหลากหลายชนิด อาทิเช่น</p>
        <ul style="display: flex; flex-direction: column; gap: 8px">
          <li>ซอสามสาย</li>
          <li>ซออู้</li>
          <li>ระนาดเอก</li>
          <li>ระนาดทุ้ม</li>
          <li>กลองทัด</li>
          <li>ฯลฯ</li>
        </ul>
      </div>
    </div>

    <div class="card">
      <div class="card-img">
        <img src="./assets/img/music03.jpg" alt="" />
      </div>
      <div style="margin-top: 24px">
        <p>สถานที่สะอาด สภาพแวดล้อมเป็นกันเอง</p>
        <p>เน้นการลงมือทำ ทฤษฎีแน่น</p>
        <p>สอนโดยอาจารย์ผู้มากประสบการณ์</p>
        <p>สอนจากไม่เป็นเลย จนสามารถเล่นได้เป็นเพลง</p>
        <p>และมีความเข้าใจทฤษฎีดนตรี นำไปต่อยอดได้</p>
      </div>
    </div>
  </div>

  <div class="mat-elevation-z8" *ngIf="!user">
    <mat-toolbar style="margin-top: 48px">
      <span>Course</span>
      <div class="example-spacer"></div>
    </mat-toolbar>

    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      (matSortChange)="announceSortChange($event)"
    >
      <ng-container matColumnDef="cou_ID">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="sortByid"
        >
          รหัสรุ่น
        </th>
        <td mat-cell *matCellDef="let row">{{ row.cou_ID }}</td>
      </ng-container>

      <ng-container matColumnDef="sub_Name">
        <th mat-header-cell *matHeaderCellDef>ชื่อวิชา</th>
        <td mat-cell *matCellDef="let row">{{ row.sub_Name }}</td>
      </ng-container>

      <ng-container matColumnDef="tec_Name">
        <th mat-header-cell *matHeaderCellDef>ชื่อผู้สอน</th>
        <td mat-cell *matCellDef="let row">{{ row.tec_Name }}</td>
      </ng-container>

      <ng-container matColumnDef="num_seats">
        <th mat-header-cell *matHeaderCellDef>จำนวนที่นั่ง</th>
        <td mat-cell *matCellDef="let row">{{ row.num_seats }}</td>
      </ng-container>

      <ng-container matColumnDef="seat_remaining">
        <th mat-header-cell *matHeaderCellDef>ที่นั่งคงเหลือ</th>
        <td mat-cell *matCellDef="let row">{{ row.seat_remaining }}</td>
      </ng-container>

      <ng-container matColumnDef="time_open">
        <th mat-header-cell *matHeaderCellDef>เริ่มลงทะเบียน</th>
        <td mat-cell *matCellDef="let row">
          {{ row.time_open | date : "d/M/yyy" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="time_close">
        <th mat-header-cell *matHeaderCellDef>ปิดลงทะเบียน</th>
        <td mat-cell *matCellDef="let row">
          {{ row.time_close | date : "d/M/yyy" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="time_start">
        <th mat-header-cell *matHeaderCellDef>เริ่มเรียน</th>
        <td mat-cell *matCellDef="let row">
          {{ row.time_start | date : "d/M/yyy" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="time_end">
        <th mat-header-cell *matHeaderCellDef>จบคอร์สเรียน</th>
        <td mat-cell *matCellDef="let row">
          {{ row.time_end | date : "d/M/yyy" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>สถานะ</th>
        <td mat-cell *matCellDef="let row">{{ row.status }}</td>
      </ng-container>

      <ng-container matColumnDef="total_price">
        <th mat-header-cell *matHeaderCellDef>ราคา</th>
        <td mat-cell *matCellDef="let row">{{ row.total_price }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [length]="100"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>

  <div>
    <mat-toolbar style="margin-top: 48px">
      <span>My Class Room</span>
      <div class="example-spacer"></div>
    </mat-toolbar>

    <div class="history-card">
      <div class="history-img">
        <img src="./assets/img/music-school.jpg" alt="" />
      </div>
      <div class="history-img">
        <img src="./assets/img/room.jpg" alt="" />
      </div>
    </div>
  </div>
</div>
